body{
    background-color: red;
}


@media (width<=400px){
    body{
        background-color: blue;
    }
}


@media (width<=200px){
    body{
        background-color: gold;
    }
}

/* * potrait means when height > width; * */

/* @media (orientation: portrait){
    body{
        background-color: green;
    }
} */