/* ******************************************************** tag name ******************************************************* */

body{
    margin: 0;
    text-align: center;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 10;
}



h1{
    margin: 0%;
    color: white;
} 




/* ******************************************************** class ******************************************************* */

.top_container{
    background-color:   black;
    border: 10px solid;
    border-bottom: 0;
    height: 700px;
    padding: 20px;
    position: relative;
    width: 96%;
}


.mid_container{
    background-color: black;
    /* border: 10px solid;
    border-bottom: 0;
    border-top: 0;
    height: 700px;
    padding: 20px;
    position: relative;
    width: 96%; */
}

.bottom_container{
    background-color: black;
    /* border: 10px solid;
    border-top: 0;
    height: 700px;
    padding: 20px;
    position: relative;
    width: 96%; */
} 


.Pic-bg{
    display: inline-block;
    position: absolute;
    height: 600px;
    width: 600px;
    top: 80px;
    right: 0;
}


.star-icon1{
    display: inline-block;
    position: absolute;
    height: 22px;
    width: 22px;
    bottom: 239px;
    left: 220px;
}
.star-icon2{
    display: inline-block;
    position: absolute;
    height: 22px;
    width: 22px;
    bottom: 239px;
    left: 395px;
}
.star-icon3{
    display: inline-block;
    position: absolute;
    height: 22px;
    width: 22px;
    bottom: 239px;
    left: 570px;
}


.Intro-text{
    font-size: 60px;
    position: relative;
    color: white;
    top: 30%;
    right: 20%;
    font-weight: 600;
}

.star-icontext1{
    color: white;
    position: relative;
    top: 200px;
    right: 460px;
}
.star-icontext2{
    color: white;
    position: relative;
    top: 162px;
    right: 280px;
}
.star-icontext3{
    color: white;
    position: relative;
    top: 124px;
    right: 95px;
}






/* ******************************************************** id ******************************************************* */